.Talco {background:#FFFFFF}
.Yeso {background: #e5e5e5;}
.Calcita {background: #e5e5e5;}
.Fluorita {background:#b2b2b2;}
.Apatito {background: #b2b2b2;}
.Ortosa {background: #7f7f7f;}
.Cuarzo {background: #666666;}
.Topacio {background: #4c4c4c;}
.Corindon {background: #323232;}
.Diamante {background: #191919;}
#Black {background: #000000;}

